{% extends 'base_login_signup.html' %}

{% block title %} Update {% endblock%}
{% block t1 %}<t1>Account update</t1>{% endblock %}

{% block content %}
    <form id="account-update" action="/account_update_post/" method="post">{% csrf_token %}

        <label >Email </label>
        <input type="text" id="email" name="email" value=""><br>

        <label >Phone </label>
        <input type="text" id="phone" name="phone" value=""><br>

        <label >Address </label>
        <input type="text" id="address" name="address" value=""><br>

        <input type="hidden" value="{{ id }}" name="id" />

    <button type="submit" id="post-btn" onclick="pop()">Summit</button>
    <button type="submit" onclick="window.history.go(-1); return false;"  value="Back">Back</button>

    </form>

<script>
function pop(){
    if ( !$('email').val()) {
        $('email').attr('disabled', true);
    }

    if ( !$('phone').val()) {
        $('phone').attr('disabled', true);
    }

    if ( !$('address').val()) {
        $('address').attr('disabled', true);
    }

    // submit
    $('#account-update').submit();
}
</script>
{% endblock %}
<!--
{% load static %}

