{% extends 'base_login_signup.html' %}

{% block title %} ADMIN {% endblock%}
{% block t1 %}<t1>Users</t1>{% endblock %}
{% block style%}

{% endblock%}
{% block content %}

        <label class = "label" for="balance" > </label><br>
        <table>
            <tr>
              <th>Username</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Address</th>
            </tr>
            {% for user in users %}
            <tr>
              <td> {{ user.username }}</td>
              <td> {{ user.email }}</td>
              <td> {{ user.phone }}</td>
              <td> {{ user.address }}</td>
            </tr>
            {% endfor %}
            </table>





{% endblock %}
