{% extends 'base_login_signup.html' %}

{% block title %} ADMIN {% endblock%}

{  {% block style %}
<style>

    </style>
{% endblock%}

{% block logout%}
    <button type="button" id="logout_btn"  onclick="window.location.href='/logout/'">Logout</button>
    <button type="button" id="twofa_manage" onclick="window.location.href='/two_factor/'">Two factor manage</button>
    <button type="button" id="open_account_btn"  onclick="window.location.href='/account_open/'">open new account</button>
    <button type="button" id="sessions_btn"  onclick="window.location.href='/account/sessions/'"> Session</button>


{% endblock %}
{% block usertype %}<usertype>{{ user.username }}, {{ user.user_type }}, {{ user.email }}, {{ user.phone }}</usertype>{% endblock %}
{% block content %}


        <!--User Info-->
        <t1 >Internal Users</t1>
        <table >
            <tr>
                <th>Username</th>
                <th>TYPE</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Card Number</th>
                <th>CVV</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
            {% for user in users %}
            <tr>
                <td> {{ user.username }}</td>
                <td> {{ user.user_type }}</td>
                <td> {{ user.email }}</td>
                <td> {{ user.phone }}</td>
                <td> {{ user.address }}</td>
                <td> {{ user.credit_number }}</td>
                <td> {{ user.cvv }}</td>
                <td>
                    {% if user.state == 'INACTIVE' %}
                        INACTIVE

                    {% else %}

                        <button type="submit" id="account_update_btn"  onclick="window.location.href='/account_update/?id={{ user.id }}'">Update</button>

                    {% endif %}
                </td>
                <td>
                    {% if user.state == 'INACTIVE' %}
                        INACTIVE
                    {% else %}
                        <form action="/account_delete_post/" method="POST">{% csrf_token %}
                            <input type="hidden" value="{{ user.id }}" name="id" />
                            <button type="submit" id="account_delete_btn"> delete</button>
                        </form>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            </table>

        <br>

        <!--Account open request-->
        <t1>Account Open Request</t1>
        <table >
            <tr>
                <th>Date</th>
                <th>From</th>
                <th>To</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Status</th>
            </tr>
            {% for request in account_open_requests %}
            <tr>
                <td> {{ request.created }}</td>
                <td> {{ request.from_username }}</td>
                <td> {{ request.to_username }}</td>
                <td> {{ request.email }}</td>
                <td> {{ request.phone }}</td>
                <td> {{ request.address }}</td>
                <td>

                    {% if request.state == "PENDING" %}
                        <form action="/request_approve_post/" method="POST"> {% csrf_token %}
                            <input type="hidden" value="{{ request.id }}" name="id" />
                            <input type="hidden" value="1" name="approve" />
                            <button type="submit" name="decline_btn"> APPROVE</button>
                        </form>

                        <form action="/request_approve_post/" method="POST"> {% csrf_token %}
                            <input type="hidden" value="{{ request.id }}" name="id" />
                            <input type="hidden" value="0" name="approve" />
                            <button type="submit" name="decline_btn"> Decline</button>
                        </form>

                    {% else %}
                        {{ request.state }}

                    {% endif %}

                </td>
            </tr>
            {% endfor %}
            </table>
        <br>

        <!--Account update request-->
        <t1>Account Update Request</t1>
        <table >
            <tr>
                <th>Date</th>
                <th>from</th>
                <th>to</th>
                <th>email</th>
                <th>phone</th>
                <th>aadress</th>
                <th>Status</th>
            </tr>
            {% for request in account_update_requests %}
            <tr>
                <td> {{ request.created }}</td>
                <td> {{ request.from_username }}</td>
                <td> {{ request.to_username }}</td>
                <td> {{ request.email }}</td>
                <td> {{ request.phone }}</td>
                <td> {{ request.address }}</td>
                <td>
                  {% if request.state == "PENDING" %}
                      <form action="/request_approve_post/" method="POST"> {% csrf_token %}
                          <input type="hidden" value="{{ request.id }}" name="id" />
                          <input type="hidden" value="1" name="approve" />
                          <button type="submit" name="decline_btn"> APPROVE</button>
                      </form>

                      <form action="/request_approve_post/" method="POST"> {% csrf_token %}
                          <input type="hidden" value="{{ request.id }}" name="id" />
                          <input type="hidden" value="0" name="approve" />
                          <button type="submit" name="decline_btn"> Decline</button>
                      </form>

                {% else %}
                    {{ request.state }}

                {% endif %}

                </td>
            </tr>
            {% endfor %}
        </table>
        <br>

{% endblock %}

<script>
    function myfunction() {
        //if (request.state=="APPROVED"){
        button.approve_btn.style.display == "none";
        //}

    }
</script>>