{% extends 'base_login_signup.html' %}

{% block title %} Custom {% endblock%}
{% block t1 %}<t1>Welcome to G1-Bank</t1>{% endblock %}
{% block logout%}
    <button type="button" id="logout_btn"  onclick="window.location.href='/logout/'">Logout</button>
    <button type="button" id="twofa_manage" onclick="window.location.href='/two_factor/'">Two factor manage</button>
{% endblock %}
{% block usertype %}<usertype>{{ user.username }}, {{ user.user_type }}, {{ user.email }}, {{ user.phone }}</usertype>{% endblock %}

{% block content %}


    <br><label class = "label" for="balance" >Balance: </label><br>
    <br>
    <table>
        <tr>
            <th>credit</th>
            <td>$$</td>
        </tr>
        <tr>
            <th>checking</th>
            <td>$$</td>
        </tr>
        <tr>
            <th>saving</th>
            <td>$$</td>

        </tr>
    </table>
    <br>
    <button type="submit" id="account_update_btn"  onclick="window.location.href='/account_update/?id={{ user.id }}'">Account Update</button>

    <form action="/make_transfer/" method="get">
        <label class = "label" > </label><br>
            <button type="submit" id="make_trans_btn">Transfer</button>

    </form>



{% endblock %}

