{% extends 'base_login_signup.html' %}

{% block title %} Custom {% endblock%}
{% block t1 %}<t1>Welcome to G1-Bank</t1>{% endblock %}

{% block content %}

    <br><label class = "label" for="balance" >Balance: </label><br>

    <form action="/account_update/" method="get">
        <button type="submit" id="account_update_btn">account update</button>
    </form>


    <form action="/make_transfer/" method="get">
        <label class = "label" > </label><br>
            <button type="submit" id="account_update_btn">Transfer</button>

    </form>



{% endblock %}
