{% extends 'base_login_signup.html' %}

{% block title %}Error {% endblock%}
{% block t1 %}<t1></t1>{% endblock %}

{% block content %}
    Error: {{ msg }}
    {% if form.errors %}
        <ul>
        {% for error in form.errors %}
          <li>{{ error }}</li>
        {% endfor %}
        </ul>
{% endif %}
    <meta http-equiv="refresh" content="10;url=/" />
    <h1>Redirecting in 10 seconds...</h1>
    <button type="submit" onclick="window.history.go(-1); return false;"  value="Back">Back</button>

{% endblock %}
