{% extends 'base_login_signup.html' %}

{% block title %} Login {% endblock%}
{% block t1 %}<t1>Login page</t1>{% endblock %}

{% block content %}
    <form action="/login_post/" method="post">{% csrf_token %}
        <label class = "label"for="Uname" >UserName: </label>
        <input type="text" id="Uname" name="username"><br>

        <label for="password">Password: </label>
        <input type="password" id="password" name="password"><br>

      <button type="submit" id="post-btn">Summit</button>

    </form>

{% endblock %}
