{% extends 'base_login_signup.html' %}

{% block title %} Transfer {% endblock%}
{% block t1 %}<t1>Make a transfer</t1>{% endblock %}
{% block logout%}
    <button type="button" id="logout_btn"  onclick="window.location.href='/logout/'">Logout</button>
{% endblock %}

{% block content %}
    <div>

    <form action="/make_transfer_post/" method="POST"> {% csrf_token %}

        <!--from user -->
        <label class = "label" for="from_balance" >FROM: </label>

        <select id="from_balance" name="from_balance">
            <option selected value="CHECKING">Checking</option>
            <option value="SAVING">Saving</option>
        </select><br><br>
         <input type="text" id="to_account"  name="from_email" value="{{ user.email }}"><br><br>

        <!--to user -->
        <label class = "label" for="to_email" > TO: </label>

        <!--balance-->
        <select id="to_balance" name="to_balance">
            <option selected value="CHECKING">Checking</option>
            <option value="SAVING">Saving</option>
            <option value="CREDIT">Credit</option>
        </select><br>


        <br><label2 for="to_account" id="label_account_box" >Enter other's Email if transfer to other</label2><br>

        <input type="text" id="to_account"  name="to_email" value="{{ user.email }}">

        <br><br>Amount<br>
        <input type="number" step="0.01" min="0" name="money" >


        <br><button type="submit">Submit</button>
        <button type="submit" onclick="window.history.go(-1); return false;"  value="Back">Back</button>
    </form>



    <script>
    function show() {
        document.getElementById("to_account").style.visibility="visible";
        document.getElementById("label_account_box").style.visibility="visible";
        document.getElementById("to_email").style.visibility="hidden";


    }

    function notshow() {
        document.getElementById("to_account").style.visibility="hidden";
        document.getElementById("label_account_box").style.visibility="hidden";
        document.getElementById("to_email").style.visibility="visible";
    }

    var getUrlParameter = function getUrlParameter(sParam) {
        var sPageURL = decodeURIComponent(window.location.search.substring(1)),
            sURLVariables = sPageURL.split('&'),
            sParameterName,
            i;


        alert(sURLVariables[1])
        alert("text");
    };
     //window.onload = getUrlParameter;
    </script>


{% endblock %}
