<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>

    <form action="/signup_post/" method="post">{% csrf_token %}
        Username: <input type="text" id="username" name="username"><br>
        Password: <input type="password" id="password" name="password"><br>
        E-mail: <input type="text" id="email" name="email"><br>
        user_type:  <input type="text" id="user_type" name="user_type"><br>
      <button type="submit" id="post-btn">button</button>

    </form>


</body>
</html>


<script>
</script>