{% extends 'base_login_signup.html' %}

{% block title %} Signup {% endblock%}

{% block t1 %}<t1>Create account</t1>{% endblock %}

{% block content %}
    <form action="/signup_post/" method="post">{% csrf_token %}
        <label class = "label"for="Uname" >UserName: </label>
        <input type="text" id="Uname" name="username"><br>

        <label for="password">Password: </label>
        <input type="password" id="password" name="password"><br>

        <label for="email" >E-mail: </label>
        <input type="text" id="email" name="email"><br>

        <label for="ssn">SSN: </label>
        <input type="text" id="ssn" name="ssn"><br>

        <label for="phone">Phone: </label>
        <input type="text" id="phone" name="phone">
        <label >+1xxxxxxxxxx </label><br>

        <label for="user_type">User Type: </label>
        <!--input type="text" id="user_type" name="user_type"><br-->
      <select id="user_type" name="user_type">
        <option value="CUSTOMER">Customer</option>
        <option value="MERCHANT">Merchant</option>
      </select><br>

      <button type="submit" id="post-btn">Summit</button>

    </form>

{% endblock %}
